body {
    margin: 0;
    padding: 0;
    background-color: #0A192F;
    font-family: "Mulish", "sans-serif";
    color: white;
    
}

h1 {
    font-family: "Mulish";
    font-weight: 800;
    color: #FFB459;
}

h3 {
    margin: 0;
}



nav {
    margin-top: 1rem;
    padding: 0 0.75rem;
}

#logo {
    width: 5rem;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

#header-title {
    order: 2;
    margin-top: 1rem;
   text-align: center;
}

#header-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.3rem;
}

#profile-pic {
    width: 8rem;
    order: 1'
}

#header-intro-text {
    order: 3;
    text-align: center;
}

#main-contact-form {
    order: 4;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 4%;
    border-radius: 12px;
    background-color: #1B3356;
}

#form-h2 {
    margin-top: 0;
}

.form-label {
    margin-top: 1rem;
}

.form-input {
    margin-top: 0.3rem;
    border-radius: 6px;
    background-color: #2B4C7C;
    border: none;
}

#name-input {
    width:50%;
}

#message-input {
    height: 4rem;
}

#form-submit-btn {
    margin-top: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font: inherit;
    background-color: #FFB459;
    border: none;
    padding: 2% 0;
    font-weight: 800;
    border-radius: 12px;
    color: white;
}

#form-submit-btn:hover {
    background-color: #ED8E1C;
}

@media (min-width: 768px) {
   #logo {
    width: 9rem;
    }
    #header-intro-text {
        max-width: 50%;
    }
    #main-contact-form {
        margin-top: 3rem;
        max-width: 50%;
        margin-bottom: 10rem;
        padding: 2%;
    }
    #profile-pic {
        width: 15rem;
    }
    .form-input {
        height: 3rem;
    }
    #form-submit-btn {
        width: 40%;
        padding: 1% 0;
    }
  }
  